section#reviews.reviews
  h2.title.__title Что говорят о нас ?
  .swiper
    .swiper-container
      .swiper-wrapper
        //each val in content.reviews.slider
        .swiper-slide
          article.review
            header.__info
              .tourist
                h3.__-name Алексей
                .__tour
                  p Спасибо большое за это путешествие и за эти эмоции! Горы Норвегии останутся в душе навсегда, лучшие склоны для сноубординга.
                  p Организовано все на высшем уровне. Погода радовала, очень атмосферное жилье, питались очень вкусно. Матвей замечательный гид и инструктор. Все советую!
              span.__date
            p.__desc
            footer.__navigation
        .swiper-slide
          article.review
            header.__info
              .tourist
                h3.__-name Алексей
                .__tour
                  p Спасибо большое за это путешествие и за эти эмоции! Горы Норвегии останутся в душе навсегда, лучшие склоны для сноубординга.
                  p Организовано все на высшем уровне. Погода радовала, очень атмосферное жилье, питались очень вкусно. Матвей замечательный гид и инструктор. Все советую!
              span.__date
            p.__desc
            footer.__navigation
        .swiper-slide
          article.review
            header.__info
              .tourist
                h3.__-name Алексей
                .__tour
                  p Спасибо большое за это путешествие и за эти эмоции! Горы Норвегии останутся в душе навсегда, лучшие склоны для сноубординга.
                  p Организовано все на высшем уровне. Погода радовала, очень атмосферное жилье, питались очень вкусно. Матвей замечательный гид и инструктор. Все советую!
              span.__date
            p.__desc
            footer.__navigation
        .swiper-slide
          article.review
            header.__info
              .tourist
                h3.__-name Алексей
                .__tour
                  p Спасибо большое за это путешествие и за эти эмоции! Горы Норвегии останутся в душе навсегда, лучшие склоны для сноубординга.
                  p Организовано все на высшем уровне. Погода радовала, очень атмосферное жилье, питались очень вкусно. Матвей замечательный гид и инструктор. Все советую!
              span.__date
            p.__desc
            footer.__navigation
        .swiper-slide
          article.review
            header.__info
              .tourist
                h3.__-name Алексей
                .__tour
                  p Спасибо большое за это путешествие и за эти эмоции! Горы Норвегии останутся в душе навсегда, лучшие склоны для сноубординга.
                  p Организовано все на высшем уровне. Погода радовала, очень атмосферное жилье, питались очень вкусно. Матвей замечательный гид и инструктор. Все советую!
              span.__date
            p.__desc
            footer.__navigation
    .swiper-arrows
      .swiper-button-prev
      .swiper-button-next
